<ActionBar title="Todo List">
    <ActionItem (tap)="addItem()"
    ios.systemIcon="4"
    ios.position="right"
    android.systemIcon="ic_menu_add"
    android.position="actionBar"></ActionItem>
</ActionBar>
<ListView [items]="listItems">
    <ng-template let-item="item">
        <GridLayout columns="*,10" height="40">
            <Label col="0" [text]="item.description"></Label>
            <Button col="1" text="X" (tap)="complete(item)"></Button>
        </GridLayout>
    </ng-template>
</ListView>